* {
  box-sizing:border-box;
  transition:.25s ease-in-out;
}

html {
  height: 85%;
  width: 85%;
  margin: 10% auto;
}

body {
  font-family: 'Roboto Mono',helvetica,arial,sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

/* this could be the issue with the centering in github pages */
.wrapper {
  width: 650px;
  text-align: center;
  vertical-align: middle;
}


#heading-title {
  font-size: 5em;
  padding-bottom: 50px;
}


ul {
  list-style-type: none;
}

/*Subject form, wrapper around the search field + mesurements toggle*/
#subject-form {
  /*...*/
}
#subject-name {
  color: black;
  background-color: white;
  height: 15.5%;
  width: 75%;
  border-radius: 5px;
  margin-bottom: 5%;
}

#subject-name:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(49, 79, 111, 0.2);
}

.searchButton {
  position: relative;
  color: black;
  background-color: #C0C0C0;
  padding: 20px;
  top: 4px;
  border-radius: 5px;
}

.searchButton:hover {
  background-color: rgba(255,215,0,0.9);
  color: rgba(255,250,250,1);
}

#submitSearchButton{
  /*...*/
}

#submitSearchButton:hover{
  /*...*/
}

/* This is the text inside the search field */
input {
  font-size: 1.25em;
}

#search-space {
  /*...*/
}

.article-link-container {
  display: block;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 2px;
  overflow: visble;
  text-overflow: ellipsis;
  border: 1px rgba(0,0,0,0.1) solid;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;

  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.article-link-container:hover {
  background-color: rgba(245,245,245, 0.8);
}
.article-image-container{
  /* border: 1px rgba(0,0,0,0.1) solid; */
  width: 125px;
  height: 125px;
  padding-top:12.5px;
  height:125px;
  width:125px;
  margin-right: 20px;
}

.article-image {
  margin:auto;
  width:100px;
  height:100px;
}

.article-text-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;

  text-align: left;
}

.article-text-container > p {
  margin:1px;
}


.article-title {

}

.article-description {

}

#result-holder-no-info-found {
  margin-bottom: 7%;
}

#results-dock {
  margin-bottom: 20%;
}

/* fix things when they are in smaller screen with media query */
@media (max-width: 950px) and (min-width: 300px) {

}
